body{
    background-color: chartreuse;
}
h1{
    margin: 0px 0px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color:rgb(32, 4, 154);
    background-color: lightgoldenrodyellow;
}
.container{
  text-align: center;
}

.player{
    display: inline-block;
    margin: 20px 30px;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    color:rgb(32, 4, 154);
    text-shadow: 2px 1px #232931;
}
button{
    padding: 1rem 3rem 1rem 3rem ;
    margin: 10px;
    background-color: #232931 ;
    border-radius: 15px;
    font-size: large;
    font-family: 'Lobster', cursive ;
    color: aliceblue;
 
}
.btn{
    display: flex;
    justify-content: space-evenly;
}
footer{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color:rgb(30, 29, 31);
    font-size: 1rem;
}