body{
    background-color: chartreuse;
}
h1{
    margin: 60px;
    font-size: 4rem;
}
.container{
  text-align: center;
}

.player{
    display: inline-block;
    margin: 50px;
    font-size: 2rem;
}